<%= form_for @model, :html => { :class => 'col-12' } do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this notice from being saved:</h2>
      <ul>
        <% @model.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br/>
    <%= f.text_field :title, :class => 'form-control', :required => 'required' %>
  </div>
  <div class="form-group">
    <%= f.label :photo %><br/>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class="form-group">
    <%= f.label :recommend_description %><br/>
    <%= f.text_area :recommend_description, :class => 'form-control', :rows => 5, :required => 'required' %>
  </div>
  <div class="form-group">
    <%= f.label :models_comment %><br/>
    <%= f.text_area :models_comment, :class => 'form-control', :rows => 5, :required => 'required' %>
  </div>
  <div class="form-group actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
