<% breadcrumb :models %>
<section id="model_main" class="sub_main row">
  <ul class="media-list col-12">
    <% unless @models.empty? %>
      <% @models.each do |model| %>
        <li class="media" itemscope itemtype="http://schema.org/Person">
          <%= link_to model_path(model) do %>
            <%= image_tag model.photo.medium_thumb.url, :itemprop => "image", :class => "mr-3" %>
          <% end %>
          <div class="media-body">
            <h4 class="media-heading" itemprop="name"><%= link_to model.title, model_path(model) %></h4>
            <%= link_to model_path(model) do %>
              <p itemprop="description"><%= simple_format(model.models_comment) %></p>
            <% end %>
            <div class="vote">
              <% if user_signed_in? %>
                <%= link_to like_model_path(model), method: :put do %>
                  <span class="material-icons
                    <% if current_user.voted_for? model %> already-vote
                    <% end %>">thumb_up</span><span class="text"> <%= model.cached_votes_up %></span>
                <% end %>
              <% else %>
                <%= link_to like_model_path(model), { method: :put, :class => "confirm_login" } do %>
                  <span class="material-icons">thumb_up</span><span class="text"> <%= model.cached_votes_up %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <% else %>
      <li><%= t(:no_data) %></li>
    <% end %>
  </ul>
  <div class="col-12">
    <%= link_to t(:link_new), new_model_path %>
    <%= paginate @models %>
  </div>
</section>
