<% breadcrumb :model,@model %>
<section id="sl_model_show" class="sub_main row">
	<h2 class="col-12"><%= @model.title %></h2>
	<p class="col-12">작성자 :<%= @model.user.name %>&nbsp;&nbsp;&nbsp; 작성일 : <%= @model.created_at %></p>
	<div class="slboard_content col-12">
		<figure>
			<%=image_tag @model.photo.medium_thumb.url,:alt=>@model.title %>
		</figure>
    <article>
				<h3>추천사</h3>
				<div><%= simple_format(@model.recommend_description) %></div>
			</article>
			<article>
				<h3>추천받은 모델의 소감</h3>
				<div><%= simple_format(@model.models_comment) %></div>
			</article>
		</div>
	<div id="sl_content_bottom_menu">
		<%= link_to t(:link_list),models_path %>
		<% if user_signed_in? %>
		<% if current_user.admin? %>
		&nbsp; | &nbsp; <%= link_to t(:link_edit), edit_model_path(@model) %> &nbsp; | &nbsp; <%= link_to t(:link_delete), @model, method: :delete, data: { confirm: '정말로 삭제합니까?' } %>
		<% end %>
		<% end %>
	</div>
</section>
