<%= form_for @article, :html => { :class => 'col-12' } do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br/>
    <%= f.text_field :title, :class => 'form-control', :required => 'required' %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br/>
    <%= f.url_field :url, :class => 'form-control', :required => 'required' %>
  </div>
  <div class="form-group actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
