<ul class="nav main-menu">
	<% if can? :read, User %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/users' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-user glyphicon-white"></i>
			<%=t(:menu_user,scope:[:admin_menu]) %>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/operators' || params[:controller]=='admin/users' || params[:controller]=='admin/groups' || params[:controller]=='admin/kits' %> current<% end %>">
			<% if can? :read, User %>
			<li<% if params[:controller]=='admin/users' %> class="active"<% end %>><%=link_to admin_users_path do %>
				<i class="glyphicon glyphicon-user glyphicon-white"></i>
				<%=t(:user,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
		</ul>
	</li>
	<% end %>

	<% if can?(:read, ReportCategory) || can?(:read, Report) || can?(:read, ComplimentCategory) || can?(:read, Bank) || can?(:read, Compliment) || can?(:read, FaqCategory) || can?(:read, Faq)%>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/report_categories' || params[:controller]=='admin/reports' || params[:controller]=='admin/compliment_categories'|| params[:controller]=='admin/banks' || params[:controller]=='admin/compliments' || params[:controller]=='admin/faq_categories' || params[:controller]=='admin/faqs'  %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
			<%=t(:menu_main_board,scope:[:admin_menu]) %>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/report_categories' || params[:controller]=='admin/reports' || params[:controller]=='admin/compliment_categories'|| params[:controller]=='admin/banks' || params[:controller]=='admin/compliments' || params[:controller]=='admin/faq_categories' || params[:controller]=='admin/faqs'  %> current<% end %>">
			<% if can? :read, ReportCategory %>
			<li<% if params[:controller]=='admin/report_categories' %> class="active"<% end %>><%=link_to admin_report_categories_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:report_category,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Report %>
			<li<% if params[:controller]=='admin/reports' %> class="active"<% end %>><%=link_to admin_reports_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:report,scope:[:activerecord,:models])%><% end %></li>
			<% end %>

			<% if can? :read, ComplimentCategory %>
			<li<% if params[:controller]=='admin/compliment_categories' %> class="active"<% end %>><%=link_to admin_compliment_categories_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:compliment_category,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Bank %>
			<li<% if params[:controller]=='admin/banks' %> class="active"<% end %>><%=link_to admin_banks_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:bank,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Compliment %>
			<li<% if params[:controller]=='admin/compliments' %> class="active"<% end %>><%=link_to admin_compliments_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:compliment,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
				<% if can? :read, FaqCategory %>
				<li<% if params[:controller]=='admin/faq_categories' %> class="active"<% end %>><%=link_to admin_faq_categories_path do %>
					<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
					<%=t(:faq_category,scope:[:activerecord,:models])%><% end %></li>
				<% end %>
				<% if can? :read, Faq %>
				<li<% if params[:controller]=='admin/faqs' %> class="active"<% end %>><%=link_to admin_faqs_path do %>
					<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
					<%=t(:faq,scope:[:activerecord,:models])%><% end %></li>
				<% end %>
		</ul>
	</li>
	<% end %>


	<% if can?(:read, Propose) || can?(:read, Model) || can?(:read, Improve) || can?(:read, Article) %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/proposes' || params[:controller]=='admin/models' || params[:controller]=='admin/improve' || params[:controller]=='admin/articles' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
			<%=t(:menu_etc_board,scope:[:admin_menu]) %>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/proposes' || params[:controller]=='admin/models' || params[:controller]=='admin/improve' || params[:controller]=='admin/articles' %> current<% end %>">
			<% if can? :read, Propose %>
			<li<% if params[:controller]=='admin/proposes' %> class="active"<% end %>><%=link_to admin_proposes_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:propose,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Model %>
			<li<% if params[:controller]=='admin/models' %> class="active"<% end %>><%=link_to admin_models_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:model,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Improve %>
			<li<% if params[:controller]=='admin/improve' %> class="active"<% end %>><%=link_to admin_improve_index_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:improve,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Article %>
			<li<% if params[:controller]=='admin/articles' %> class="active"<% end %>><%=link_to admin_articles_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:article,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Notice %>
			<li<% if params[:controller]=='admin/notices' %> class="active"<% end %>><%=link_to admin_notices_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:notice,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
		</ul>
	</li>
	<% end %>

</ul>
