<% breadcrumb :proposes %>
<div id="propose_main" class="sub_main row">
	<div id="index_main" class="col-12">
		<% unless @proposes.empty? %>
		<% @proposes.each do |propose| %>
		<article class="content_list" itemscope itemprop="article" itemtype="http://schema.org/Article">
			<div class="content_list_head"><span class="content_list_name"><%=propose.user.name %></span> &nbsp;&nbsp; <span class="content_list_title"  itemprop="name"><%=propose.title %></span> <span class="content_list_date hidden-xs"><%=get_dt_format propose.created_at %></span></div>
			<div class="content_list_content" itemprop="text"><%=simple_format(propose.content) %></div>
		</article>
		<% end %>
		<% else %>
		<div><%=t(:no_data) %></div>
		<% end %>
	</div>
  <div class="col-12">
		<%= link_to t(:link_new),new_propose_path %>
		<%= paginate @proposes %>
	</div>
</div>
