<%= form_for [:admin,compliment] do |f| %>
<% if compliment.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(compliment.errors.count, "error") %> prohibited this request from being saved:</h2>
	<ul>
		<% compliment.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
	<%= f.label :bank_id %>
	<%= f.select :bank_id, options_from_collection_for_select(Bank.where(:enable=>true).all, 'id', 'title',compliment.bank_id),{},{:class=>"form-control"} %>
</div>
<div class="form-group">
	<%= f.label :compliment_category_id %>
	<%= f.select :compliment_category_id, options_from_collection_for_select(ComplimentCategory.where(:enable=>true).all, 'id', 'title',compliment.compliment_category_id),{},{:class=>"form-control"} %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title,:class=>"form-control",:required=>"required" %>
</div>
<%= f.fields_for :compliment_content do |c| %>
<div class="form-group">
	<%= c.label :content %><br />
	<%= c.text_area :content, :id => "sl_content" %>
</div>
<% end %>
<div class="form-group">
	<%= f.label :enable %>
	<%= f.check_box :enable %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
