<% breadcrumb :compliments %>
<div class="sub_main row">
  <article id="compliment_main" class="col-12">
    <div class="table-responsive">
      <table class="table">
        <colgroup>
          <col style="width:10%">
          <col style="wdith:15%">
          <col>
          <col>
          <col style="wdith:10%">
          <col style="wdith:10%">
          <col style="wdith:10%">
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th class="text-center"><%= t(:user_id, scope: [:activerecord, :attributes, :compliment]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :compliment]) %></th>
          <th><%= t(:compliment_category_id, scope: [:activerecord, :attributes, :compliment]) %></th>
          <th><%= t(:label_title) %></th>
          <th class="text-right sl_count"><%= t(:label_count) %></th>
          <th class="text-right sl_recommend"><%= t(:label_recommend_count) %></th>
          <th class="text-right sl_registered_date"><%= t(:label_created_at) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @compliments.empty? %>
          <% @compliments.each do |compliment| %>
            <tr>
              <td><%= compliment.user.name %></td>
              <td><%= compliment.bank.title %></td>
              <td><%= compliment.compliment_category.title %></td>
              <td><%= link_to compliment.title.truncate(25), compliment %></td>
              <td class="text-right sl_count"><%= compliment.default_view_count + compliment.impressionist_count(:filter => :ip_address) %></td>
              <td class="text-right sl_count"><%= compliment.cached_votes_up %></td>
              <td class="text-right sl_registered_date"><%= get_dt_format(compliment.created_at.to_date) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @compliments %>
  </article>
  <div class="col-12">
    <%= link_to t(:link_new), new_compliment_path %>
  </div>
</div>