<aside class="d-none d-lg-block">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-12 col-md-6 col-xl-12">
        <article id="login_users">
          <p>
            <%= link_to edit_user_registration_path do %>
              <span id="username"><%= current_user.name %></span>님 환영합니다.
            <% end %>
          </p>
          <p id="logout_submit"><%= link_to t(:logout), destroy_user_session_path, :class => 'btn btn-secondary btn-block' %></p>
        </article>
      </div>
    <% else %>
      <div class="col-12 col-md-6 col-xl-12">
        <article>
          <p>서명후 로그인가능합니다</p>
          <h2><%= link_to t(:login), new_user_session_path, :class => "btn btn-block btn-primary" %></h2>
          <p>
            <%= link_to "서명하기", user_presign_path %>
            <%= link_to "비밀번호 찾기", new_user_password_path %>
          </p>
        </article>
      </div>
    <% end %>
    <div class="col-12 col-md-6 col-xl-12">
      <article>
        <h3>KB 임직원의 진심</h3>
        <%= link_to 'KB 임직원의 마음의 소리', '/kbsmind', :class => 'modal_link btn btn-block btn-large btn-success', :'data-toggle' => "modal", :'data-target' => "#myModal" %>
      </article>
    </div>
    <%= render :partial => 'layouts/ad' %>
  </div>
</aside>
