<footer>
  <div class="container">
    <ul class="row">
      <li class="col-6 col-lg-3"><%= link_to t(:intro, scope: [:activerecord, :models]), intro_index_path %></li>
      <li class="col-6 col-lg-3">E-mail : <%= mail_to t(:email_webmaster) %></li>
      <li class="col-6 col-lg-3"><%= link_to t(:sitemap, scope: [:activerecord, :models]), sitemap_index_path %></li>
      <li class="col-6 col-lg-3 dropdown">
        <%= link_to '#', { class: 'dropdown-toggle d-flex align-items-center gap-2',
                           role: "button",
                           'data-bs-toggle': "dropdown",
                           'aria-expanded': "false" } do %>
          <span><%=t(:theme) %></span>
          <span class="current-theme-icon"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item d-flex align-items-center gap-2" data-bs-theme-value="light">
              <span class="icon">☀️</span>
              <%=t(:light) %>
            </button>
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center gap-2" data-bs-theme-value="dark">
              <span class="icon">🌙</span>
              <%=t(:dark) %>
            </button>
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center gap-2" data-bs-theme-value="auto">
              <span class="icon">🌓</span>
              <%=t(:auto) %>
            </button>
          </li>
        </ul>
      </li>
    </ul>
    <div class="row">
      <address class="col-12">CopyLeft,
        <a href="https://www.sleepinglion.pe.kr" target="_blank"><%= t(:sleepinglion) %></a>
        &nbsp;<br class="d-block d-sm-none" />All wrongs reserved. Since 2013
      </address>
    </div>
  </div>
</footer>
